<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../../static/images/SYSPRESENCE.svg" alt="LOGO">
        </div>
        <div class="profil-contener">
            <div class="profil">
                <button>
                    {{user.username}}
                </button>
            </div>
            <div class="settings">
                <a href="">
                    <img src="../../static/images/settings.svg" alt="settings">
                </a>
            </div>
        </div>
    </header>
    <nav class="navbar">
        <ul>
            <li>
                <a href = "{% url 'dashboard'%}" >
                    <img src="../../static/images/icon.svg" alt="dashboard">DASHBOARD
                </a>
            </li>
            <li>
                <a href="{% url 'notification'%}">
                    <img src="../../static/images/Message.svg" alt="notifications">NOTIFICATIONS
                </a>
            </li>
        </ul>
    </nav>
    {%block content%}
    {%endblock%}
</body>
</html>